
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.box {
    margin: 0 auto;
    width: 400px;
    border: 5px solid #E7E6EB;
    border-radius: 8px;

}

.div-img {
    width: 258px;
    height: 258px;
    margin: 0 auto;
}

.box-money {
    margin: 24px 0 16px 40px;
    font-size: 32px;
    font-weight: 700;
}
/* container */
.box-h2-p {
    margin: 16px 0 0 40px;
}

.box-h2 {
    font-weight: 500;
}

.box-p {
    font-weight: 400;
    width: 320px;
}
.box-p1{
    margin:24px 0 0 0;
}
/* end of contanier */
/* boxes */
.boxes{
    display: flex;
    flex-direction: row;
    margin: 16px 0 0 40px;
    gap: 16px;
}
.box1{
    width: 40px;
    border: 1px solid #000000;
    height: 40px;
    border-radius: 50%;
    background-color: #EE4444;
}
.box2{
    width: 40px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    background-color: #3C81F6;
}
.box3{
    width: 40px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    background-color: #000000;
}
/* end of Boxes */
/* Buttons */
.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 46px 0 0px 0;
}
.bt-1{
    width: 320px;
    height: 55px;
    background-color: #FBBF23;
    border-radius: 8px;
    font-weight: 400;
    margin-bottom: 16px;
    font-size: 24px;
}
.bt-2{
    width: 320px;
    height: 55px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 24px;
}

/* end of Buttons */
.box-a{
    display: inline-block;
    margin: 40px 0 40px 40px;
}